In [1]:
t = (1,2,3)

In [2]:
type(t)

tuple

In [3]:
k = [1,2,3]

In [4]:
type(k)

list

In [5]:
k[1]

2

In [6]:
k[1] =3

In [7]:
k

[1, 3, 3]

In [8]:
t = ('a','a','b')

In [10]:
t.count('a')

2

In [11]:
t.index('a')

0

In [12]:
myset = set()

In [13]:
myset

set()

In [14]:
myset.add(1)

In [15]:
myset

{1}

In [16]:
myset.add(2)

In [17]:
myset

{1, 2}

In [18]:
myset.add(2)

In [19]:
myset

{1, 2}

In [20]:
dic = {'a',1}

In [21]:
dic

{1, 'a'}

In [22]:
dic[1]

TypeError: 'set' object does not support indexing

In [23]:
dic['a']

TypeError: 'set' object is not subscriptable

In [24]:
type(dic)

set

In [25]:
dic[1]

TypeError: 'set' object does not support indexing

In [26]:
dic.union

In [27]:
dic.union()

{1, 'a'}

In [28]:
a = True

In [29]:
type(a)

bool

In [30]:
False

False

In [31]:
1 > 2

False

In [32]:
1 == 2

False

In [53]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [34]:
myfile = open('myfile.txt')

In [35]:
pwd

'/Users/Kevin'

In [37]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [38]:
myfile.seek(0)

0

In [39]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [40]:
myfile.seek(10)

10

In [41]:
myfile.read()

' is a text file\nthis is the second line\nthis is the third line'

In [42]:
myfile.seek(0)

0

In [43]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [44]:
myfile.close()

In [46]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [47]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [48]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [49]:
'asd'

'asd'

In [50]:
ads

NameError: name 'ads' is not defined

In [51]:
print(avc)

NameError: name 'avc' is not defined

In [52]:
print('abc')

abc

In [56]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line

In [57]:
ls

3166.sh*                      Music/
Applications/                 Pictures/
Books/                        Public/
Creative Cloud Files/         PycharmProjects/
Desktop/                      R files/
Documents/                    Untitled.ipynb
Downloads/                    anaconda3/
Dropbox/                      cacert.pem
Google Drive/                 chart1.html
Library/                      myfile.txt
Movies/                       twitter authentication.Rdata

In [58]:
with open('myfile.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [59]:
mode='r'

In [60]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third lineFOUR ON FOURTH

In [62]:
with open('check.txt',mode='w') as f:
    f.write('I create this file!')

In [63]:
ls

3166.sh*                      Pictures/
Applications/                 Public/
Books/                        PycharmProjects/
Creative Cloud Files/         R files/
Desktop/                      Untitled.ipynb
Documents/                    anaconda3/
Downloads/                    cacert.pem
Dropbox/                      chart1.html
Google Drive/                 check.txt
Library/                      myfile.txt
Movies/                       twitter authentication.Rdata
Music/

In [64]:
with open('check.txt',mode='r') as f:
    print(f.read())

I create this file!

In [65]:
ls

3166.sh*                      Pictures/
Applications/                 Public/
Books/                        PycharmProjects/
Creative Cloud Files/         R files/
Desktop/                      Untitled.ipynb
Documents/                    anaconda3/
Downloads/                    cacert.pem
Dropbox/                      chart1.html
Google Drive/                 check.txt
Library/                      myfile.txt
Movies/                       twitter authentication.Rdata
Music/

In [66]:
rm check.txt

In [67]:
rm myfile.txt

In [68]:
clear

In [69]:
not 1==2

True

In [72]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print("I'm not hungry")

I'm not hungry

In [74]:
loc = "Bank"
if loc == "Auto Shop":
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
else:
    print("I do not know much.")

Money is cool!

In [75]:
my_interable = [1,2,3]

In [76]:
type(my_interable)

list

In [77]:
for item_name in my_interable:
    print(item_name)

1
2
3

In [78]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [79]:
type(mylist)

list

In [80]:
list

list

In [81]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
mylist[0]

1

In [83]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [85]:
for num in mylist:
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd Numer: {num}')

Odd Numer: 1
Even Number: 2
Odd Numer: 3
Even Number: 4
Odd Numer: 5
Even Number: 6
Odd Numer: 7
Even Number: 8
Odd Numer: 9
Even Number: 10

In [88]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [91]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

IndentationError: expected an indented block (<ipython-input-91-765c06a8325f>, line 4)

In [90]:
mystring[0]

'H'

In [92]:
tup = (1,2,3)

for _ in tup:
    print(_)

1
2
3

In [93]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [94]:
len(mylist)

4

In [98]:
for item in mylist:
    print(item,f'The type of it is{type(item)}')

(1, 2) The type of it is<class 'tuple'>
(3, 4) The type of it is<class 'tuple'>
(5, 6) The type of it is<class 'tuple'>
(7, 8) The type of it is<class 'tuple'>

In [100]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [101]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [102]:
for item in mylist:
    print (item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [103]:
for a,b,c in mylist:
    print (b)

2
6
9

In [106]:
d = {'k1':1,'k2':2,'k3':3}

for a,b in d.items():
    print(a)

k1
k2
k3

In [115]:
x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 #x += 1
    
else:
    print(f"{x} is not less than 5")
    x = x - 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
5 is not less than 5

In [120]:
mystring = ' Sammy'

In [126]:
for letter in mystring:
    if letter == 'a':

In [130]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [134]:
mylist = [1,2,3,4,5,6]

In [132]:
mylist = [1,"123"]

In [133]:
mylist

[1, '123']

In [136]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [137]:
range(0,11,2)

range(0, 11, 2)

In [138]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [139]:
list

list

In [142]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter in {}'.format(index_count+1,letter))
    index_count += 1

At index 1 the letter in a
At index 2 the letter in b
At index 3 the letter in c
At index 4 the letter in d
At index 5 the letter in e

In [147]:
word = 'abcde'

for index,item in enumerate(word):
    print(index)
    print(item)

0
a
1
b
2
c
3
d
4
e

In [148]:
mylist1 = [1,2,3]
mylist2 = [4,5,6]

In [149]:
for item in zip (mylist1,mylist2):
    print(item)

(1, 4)
(2, 5)
(3, 6)

In [150]:
zip (mylist1,mylist2)

In [152]:
list(zip(mylist1,mylist2))

[(1, 4), (2, 5), (3, 6)]

In [153]:
'x' in ['x','y','z']

True

In [154]:
'a' in 'a word'

True

In [155]:
'mykey' in {'mykey':345,"mydoor":123}

True

In [160]:
d = {'mykey':345}

345 in d.values()

True

In [161]:
mylist = [10,20,30,40,100]

In [162]:
min(mylist)

10

In [163]:
mode(mylist)

TypeError: 'str' object is not callable

In [164]:
from random import shuffle

In [165]:
mylist

[10, 20, 30, 40, 100]

In [166]:
shuffle(mylist)

In [167]:
mylist

[40, 30, 20, 10, 100]

In [168]:
from random import randint

In [169]:
randint(0,1000)

268

In [170]:
mynum = randint(0,10)

In [171]:
mynum

3

In [172]:
print (f'the random outcome is {randint(0,10)}')

the random outcome is 2

input('Enter a number here:')

In [174]:
input('your name: is')

'12'

In [176]:
int(input('Favorite Number:'))

123

In [177]:
ls

3166.sh*                      Music/
Applications/                 Pictures/
Books/                        Public/
Creative Cloud Files/         PycharmProjects/
Desktop/                      Python files/
Documents/                    R files/
Downloads/                    Untitled.ipynb
Dropbox/                      anaconda3/
Google Drive/                 chart1.html
Library/                      files/
Movies/                       twitter authentication.Rdata

In [178]:
cd Python\ files

/Users/Kevin/Python files

In [179]:
ls

Complete-Python-3-Bootcamp/

In [180]:
cd Complete-Python-3-Bootcamp/

/Users/Kevin/Python files/Complete-Python-3-Bootcamp

In [181]:
ls

00-Python Object and Data Structure Basics/
01-Python Comparison Operators/
02-Python Statements/
03-Methods and Functions/
04-Milestone Project - 1/
05-Object Oriented Programming/
06-Modules and Packages/
07-Errors and Exception Handling/
08-Milestone Project - 2/
09-Built-in Functions/
10-Python Decorators/
11-Python Generators/
12-Final Capstone Python Project/
13-Advanced Python Modules/
14-Advanced Python Objects and Data Structures/
15-Advanced OOP/
16-Bonus Material - Introduction to GUIs/
17-Parallel Processing/
FAQ.ipynb
Jupyter (iPython) Notebooks Guide.ipynb
README.md

In [182]:
cd 03-Methods\ and\ Functions

/Users/Kevin/Python files/Complete-Python-3-Bootcamp/03-Methods and Functions

In [183]:
ls

01-Methods.ipynb
02-Functions.ipynb
03-Function Practice Exercises.ipynb
04-Function Practice Exercises - Solutions.ipynb
05-Lambda-Expressions-Map-and-Filter.ipynb
06-Nested Statements and Scope.ipynb
07-args and kwargs.ipynb
08-Functions and Methods Homework.ipynb
09-Functions and Methods Homework - Solutions.ipynb

In [185]:
open '01-Methods.ipynb'

SyntaxError: invalid syntax (<ipython-input-185-2ba84df88777>, line 1)

In [186]:
mystring = 'hello'

In [187]:
mylist=[]

In [188]:
for letter in mystring:
    mylist.append(letter)

In [189]:
mylist

['h', 'e', 'l', 'l', 'o']

In [190]:
mylist = [letter for letter in mystring]

In [191]:
results = [x if x%2 ==0 else 'ODD' for x in range(1,11)]

In [192]:
results

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [193]:
result_2 = []

In [194]:
results_2

NameError: name 'results_2' is not defined

In [195]:
result_2

[]

In [196]:
type(result_2)

list

In [202]:
result_2 = []
for x in range(1,11):
    if x%2 == 0:
        result_2.append(x)
    else:
        result_2.append('ODD')
print(result_2)

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [200]:
result_2

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [207]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
            mylist.append(x)

In [205]:
mylist

[2, 100, 2, 200, 2, 300, 4, 100, 4, 200, 4, 300, 6, 100, 6, 200, 6, 300]

In [208]:
mylist = [1,2,3]

In [209]:
mylist.append(4)

In [210]:
mylist

[1, 2, 3, 4]

In [211]:
mylist.pop()

4

In [212]:
help(mylist.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [213]:
3 in [1,2,3]

True

In [215]:
print_name()

Hello

In [216]:
input(x)

'123'

In [ ]:
x = input(x)

In [ ]:
x

In [ ]:
x

In [ ]:
def name_function():
    
    print('Hello')

In [ ]:
name_function()

In [2]:
def say_hello(name='NAME'):
    print('hello'+name)

In [ ]:
say_hello()

In [ ]:
print('hello')

In [ ]:
quit()

In [ ]:
asd

In [1]:
asd

NameError: name 'asd' is not defined

In [17]:
def say_hello(name='NAME'):
    return 'hello '+ name

In [6]:
say_hello()

helloNAME

In [15]:
result = say_hello('David')

In [16]:
result

'helloDavid'

In [18]:
def add(n1,n2):
    return n1+n2

In [19]:
result = add(20,30)

In [20]:
result

50

In [27]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [25]:
dog_check('Dog ran away')

True

In [28]:
a = 'Print only the words that start with s in this sentence'

In [29]:
a

'Print only the words that start with s in this sentence'

In [30]:
a.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [31]:
b = a.split()

In [32]:
b

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [33]:
len(b)

11

In [34]:
for i in b:
    print(i)

Print
only
the
words
that
start
with
s
in
this
sentence

In [42]:
for i in a:
    if i[0] == 's':
        print(i)

s
s
s
s
s

In [43]:
range(0,10)

range(0, 10)

In [44]:
a = range(0,10)

In [45]:
a

range(0, 10)

In [46]:
range(0,10,1)

range(0, 10)

In [47]:
list = (range(0,10))

In [48]:
list

range(0, 10)

In [49]:
list[1]

1

In [50]:
list(0)

TypeError: 'range' object is not callable

In [51]:
list[0]

0

In [1]:
mylist = range(0,10)

In [2]:
print(mylist)

range(0, 10)

In [3]:
mylist[1]

1

In [4]:
mylist[0]

0

In [9]:
for i in mylist:
    if i %% 2 == 1 and i > 0:
        print(i)

1
3
5
7
9

In [10]:
3%2

1

In [11]:
3%%2

SyntaxError: invalid syntax (<ipython-input-11-a70479652673>, line 1)

In [12]:
mylist = []

In [13]:
mylist

[]

In [14]:
type(mylist)

list

In [16]:
for i in range(1,50):
    if i%3 == 0:
        mylist.append(i)
print(mylist)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [17]:
a = 'Print every word in this sentence that has an even number of letters'

In [18]:
a

'Print every word in this sentence that has an even number of letters'

In [19]:
for i in a.split():
    if len(i)%2 == 0:
        print(i)

word
in
this
sentence
that
an
even
number
of

In [22]:
for i in range(1,100):
    if i%3 == 0 and i%5 == 0:
        print('FizzBuzz')
    elif i%3 == 0:
        print('Fizz')
    elif i%5 == 0:
        print('Buzz')
    else:
        print('skip')

skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz
Buzz
skip
Fizz
skip
skip
FizzBuzz
skip
skip
Fizz
skip
Buzz
Fizz
skip
skip
Fizz

In [23]:
a = 'Create a list of the first letters of every word in this string'

In [24]:
a

'Create a list of the first letters of every word in this string'

In [26]:
mylist = []
for i in a.split():
    mylist.append(i[0])

In [27]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [36]:
def say_hello(name="Kevin"):
    print("Hello"+name)

In [29]:
say_hello()

Hello Kevin

In [42]:
def say_hello(name="Kevin"):
     print(f"My name is {name}")

In [31]:
say_hello

In [43]:
say_hello()

My name is Kevin

In [44]:
def myfunc(a):
    input(a)

In [45]:
myfunc()

TypeError: myfunc() missing 1 required positional argument: 'a'

In [ ]:
myfunc(a)

In [ ]:
def myfunc(a):
    if a == True:
        return 'Inside'
    elif a == False:
        return 'Outside'

In [ ]:
myfunc(True)

In [ ]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y

In [ ]:
def myfunc(a,b):
    return a + b

In [ ]:
myfunc(3+4)

In [3]:
def is_even(a):
    if a%2 == 0:
        return 'is'
    else:
        return 'is not'

In [4]:
a = 2
print(str(a) + ' ' + is_even(a) + ' an even number')

2 is an even number

In [7]:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return (a + b) * 0.05

In [8]:
myfunc(40,60)

5.0

In [9]:
x = (2,3)

In [10]:
type(x)

tuple

In [11]:
x[1]

3

In [12]:
x[1] = 4

TypeError: 'tuple' object does not support item assignment

In [13]:
sum(x)

5

In [14]:
y = [1,2]

In [15]:
type(y)

list

In [16]:
sum(y)

3

In [17]:
sum(3,4)

TypeError: 'int' object is not iterable

In [29]:
def myfunc(*args):
    return sum(args)
    for item in args:
        print(item)

In [30]:
myfunc(40,20,20)

80

In [36]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print (kwargs)
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [37]:
myfunc(fruit='apple',veggies = 'lettuce')

{'fruit': 'apple', 'veggies': 'lettuce'}
My fruit of choice is apple

In [42]:
x = {'fruit':'apple'}

In [43]:
x

{'fruit': 'apple'}

In [44]:
type(x)

dict

In [48]:
def myfunc(*args,**kwargs):
    print('I would like like {} {}'.format(args[0],kwargs['foods']))

In [49]:
myfunc(10,20,30,fruit='orange',foods='eggs',animal='dog')

I would like like 10 eggs

In [51]:
def myfunc(*args_1 , *args_2):
    print('{} add {} is sum((args_1[0],args_2[0]))'.format(args_1[0],args_2[0]))

SyntaxError: invalid syntax (<ipython-input-51-913b51dd1261>, line 1)

In [54]:
def myfunc(*args):
    return sum(args)

In [55]:
myfunc(1,2,3)

6

In [63]:
x = []
def myfunc(*args):
    for i in args:
        if i % 2 == 0:
            x.append(i)
    print(x)

In [64]:
myfunc(1,2,3,4)

[2, 4]

In [80]:

def myfunc(a):
    k = 0
    b = ''
    for i in a:
        if k % 2 == 0:
            b += i.lower()
        else:
            b += i.upper()
        k = k + 1
    print(b)

In [81]:
myfunc("Checkthiscode")

cHeCkThIsCoDe

In [67]:
x = 'acv'

In [68]:
x + 'k'

'acvk'

In [77]:
x.upper()

'ACV'

In [92]:
def myfunc(a):
    mystring = ''
    for i in range(0,len(a)-1):
        if i % 2 == 0:
            mystring += a[i].upper()
        else:
            mystring += a[i].lower()
    print(mystring)

In [93]:
myfunc("CheckthisCode")

ChEcKtHiScOd

In [94]:
def myfunc(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min((a,b))
    elif a % 2 == 1 or b % 2 == 1:
        return max((a,b))

In [97]:
myfunc(2,4)

2

In [113]:
def myfunc(a):
    return a.split()[0].lower() == a.split()[1].lower()

In [115]:
myfunc("song kong")

False

In [109]:
def myfunc(a,b):
    if a == 20 or sum((a,b)) == 20:
        return True

In [110]:
myfunc(20,20)

True

In [115]:
def myfunc(a):
    mystring=''
    for i in range(0,len(a)):
        if i == 0 or i == 3:
            mystring += a[i].upper()
        else:
            mystring += a[i]
    print(mystring)

CheCkthisstring

In [5]:
def myfunc(a):
    mystring= []
    for i in range(0,len(a.split())):
        mystring.append(a.split()[-(i+1)])
    print(" ".join(mystring))

In [6]:
x = "This is a piece of code"
myfunc(x)

code of piece a is This

In [122]:
len(x.split())

6

In [131]:
x.split()[-1]

'code'

In [136]:
test = ['a','b']

In [138]:
test.append('c')

In [139]:
test

['a', 'b', 'c']

In [8]:
def myfunc(a):
    if abs(a-200) <= 10 or abs(a-100) <= 10:
        return True
    else:
        return False

In [9]:
myfunc(100)

True

In [10]:
myfunc(90)

True

In [11]:
myfunc(80)

False

In [12]:
def myfunc(a):
    k = 0
    x = False
    for i in a:
        if i == 3:
            k += 1
        else:
            k = 0
        if k == 2:
            x = True
            break
    return x

In [13]:
myfunc([3,3,1,1])

True

In [14]:
myfunc([3,1,3,1])

False

In [15]:
myfunc([1,3,3])

True

In [16]:
'33' in '331'

True

In [17]:
a = [1,3,3]

In [18]:
str(a)

'[1, 3, 3]'

In [19]:
join(a)

NameError: name 'join' is not defined

In [20]:
join(str(a))

NameError: name 'join' is not defined

In [21]:
x = [1,2,3]

In [22]:
str(x[1])

'2'

In [31]:
y = ''
for i in x:
    y += str(i)
print(y)
type(y)

123

str

In [36]:
def myfunc(a):
    my_string = ''
    for i in a:
        my_string += str(i)
    return '33' in my_string

In [41]:
myfunc([3,3,3])

True

In [4]:
def myfunc(my_string):
    out_string = ''
    for i in my_string:
        recur = 0
        while recur < 3:
            out_string += i
            recur = recur + 1
    print(out_string)

In [43]:
"avc"+"b"

'avcb'

In [5]:
myfunc("Hello")

HHHeeellllllooo

In [ ]:
x = 'abc'

In [ ]:
x

In [24]:
def myfunc(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [26]:
myfunc(10,1,1)

12

In [22]:
print(myfunc(10,20,30))

None

In [27]:
def myfunc(a):
    result = ''
    for i in a:
        result += i*3
    return result

In [28]:
myfunc('hello')

'hhheeellllllooo'

In [69]:
def myfunc(a):
    for i in range(0,len(a)-1): ##becuase we will use i + 1
        if a[i:i+2] == [3,3]:
            return True
    return False

In [67]:
x = [1,2,3]

In [31]:
x[0:2]

[1, 2]

In [70]:
myfunc(x)

False

In [48]:
len(x)

3

In [52]:
x[0:3]

[1, 3, 3]

In [56]:
x[1:3]

[3, 3]

In [63]:
myfunc(x)

In [64]:
"123"

'123'

In [78]:
def myfunc(a):
    find_6 = 0
    total = 0
    for i in a:
        if i == 6:
            find_6 = 1
        elif i == 9:
            find_6 = 0
            continue
        if find_6 == 0:
             total += i
    return total

In [81]:
myfunc([1,3,5,6,7,8,9,10])

19

In [82]:
def myfunc(a):
    pass_3 = 0
    for i in a:
        if i == 0 and pass_3 == 0:
            pass_3 = 1
        elif i == 0 and pass_3 ==1:
            pass_3 = 2
        elif i == 7 and pass_3 ==2:
            pass_3 = 3
    return pass_3 == 3

In [88]:
myfunc([1,0,2,4,0,5,7])

True

In [103]:
def myfunc(a):
    prime_count = 0
    for i in range(2,a):
        prime_number = True
        for j in range(2,i):
            if i != j and i % j == 0:
                prime_number = False
                break
        if prime_number == True:
            prime_count += 1
    return prime_count

In [104]:
myfunc(100)

25

In [107]:
{'a':'This is A'}

{'a': 'This is A'}

In [111]:
x = {1:'This is A'}

In [112]:
x[1]

'This is A'

In [110]:
x['a']

'This is A'

In [116]:
position_dic = {1:"  *  ",2:" * * "}

In [117]:
x = [1,2,3,4,5,6,7,8,9]

[1, 3]

In [128]:
def square(num):
    return num**2

In [129]:
my_nums = [1,2,3,4,5]

In [131]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [132]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [133]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [134]:
names = ['Andy','Eve','Jak']

In [135]:
list(map(splicer,names))

['EVEN', 'E', 'J']

In [136]:
def check_even(num):
    return num%2 == 0

In [137]:
mynums = [1,2,3,4,5,6]

In [139]:
list(filter(check_even,mynums))

[2, 4, 6]

In [143]:
def square(num):
    return num ** 2

In [144]:
square(3)

9

In [146]:
square = lambda num: num ** 2

In [147]:
square(2)

4

In [148]:
list(map(lambda num: num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [150]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [151]:
names

['Andy', 'Eve', 'Jak']

In [155]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'kaJ']

In [156]:
x = 25

def printer():
    x = 50
    return x

In [157]:
x = 50
print(f'this is x value {x}')

this is x value 50

In [165]:
def myfunc(*args):
    x = len(args)
    print(f'Your have type in {x} variables')

In [166]:
myfunc(1,2,3)

Your have type in 3 variables

In [182]:
type(list(zip((1,2,3),(4,5,6)))[1])

tuple

TypeError: 'zip' object is not subscriptable

In [183]:
def myfunc(a,b,c):
    return a <= c and a >= b

In [185]:
myfunc(2,2,3)

True

In [195]:
def myfunc(a):
    upper = 0
    lower = 0
    for x in a:
        if x != ' ':
            if x.isupper():
                upper += 1
            else:
                lower += 1
        else:
            continue
    print(f'No. of Upper case char : {upper}')
    print(f'No. of Lower case char : {lower}')

In [196]:
x = 'My name'

In [188]:
x[2]

' '

In [197]:
myfunc('My name is Kevin')

No. of Upper case char : 2
No. of Lower case char : 11

In [193]:
def myfunc(a):
    out_list = []
    for i in a:
        if i in out_list:
            continue
        else:
            out_list.append(i)
    return out_list

In [194]:
myfunc([1,2,3,4,4,4,5,7,6,6])

[1, 2, 3, 4, 5, 7, 6]

In [204]:
def myfunc(a):
    out_num = 1
    for i in a:
        out_num *= x
    return out_num

In [199]:
 5 in range(1,5)

False

In [200]:
X = "Hello "

In [201]:
X[5]

' '

In [203]:
X[5].isupper()

False

In [212]:
def myfunc(a):
    return a.replace(" ","") == a[::-1].replace(" ","")

asd

In [208]:
myfunc('Kevin')

False

In [214]:
myfunc('nurses run')

True

In [215]:
x = "Here is a test sentence"

In [216]:
x.split()

['Here', 'is', 'a', 'test', 'sentence']

In [217]:
def myfunc(a):
    check_list = ['a']

In [220]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [223]:
list(set('abcddc'))

['b', 'c', 'd', 'a']

In [226]:
def myfunc(a):
    checklist = set(string.ascii_lowercase)
    return set(a.lower()) > checklist

In [228]:
myfunc('The quick brown fox jumps over the lazy dog')

True

In [244]:
'123' in '1234'

True

In [235]:
x = [1,2,4,3]

In [238]:
x.sort()

In [239]:
x

[1, 2, 3, 4]