In [127]:
import json
import requests
from IPython.display import clear_output
import pandas as pd
from datetime import datetime

In [248]:
class BN_UTC():
    
    import datetime
    base_time = datetime.datetime(1969,12,31,19,0,0) ## This is the base time
    
    def __init__(self,sys_time):
        self.UTC = self.base_time + self.datetime.timedelta(seconds = int(str(sys_time)[:-3]))
        self.China = self.UTC + self.datetime.timedelta(hours = 13)
        self.Korea = self.UTC + self.datetime.timedelta(hours = 14)
        self.Vietnam = self.UTC + self.datetime.timedelta(hours = 12)
        self.England = self.UTC + self.datetime.timedelta(hours = 6)

In [111]:
api_url_base= 'https://api.binance.com'

In [112]:
requests.get(api_url_base)

In [239]:
k = requests.get(api_url_base+'/api/'+'v3'+'/'+'ticker/price',params={'symbol':'ICXBTC'})

In [128]:
k.content.decode('utf-8')

'{"symbol":"ETHUSDT","price":"601.35000000"}'

In [137]:
json.loads(k.content.decode('utf-8'))

{'price': '601.35000000', 'symbol': 'ETHUSDT'}

In [240]:
y = requests.get(api_url_base+'/api/'+'v1'+'/'+'trades',params={'symbol':'ADXBTC'})

In [241]:
json.loads(y.content.decode('utf-8'))
content_clear()

NameError: name 'content_clear' is not defined

In [134]:
import pandas as pd

In [242]:
df = pd.read_json(y.content.decode('utf-8'))

In [254]:
df['DateTime_UTC'] = df['time'].apply(lambda x: BN_UTC(x).UTC)

In [263]:
df.head()

,id,isBestMatch,isBuyerMaker,price,qty,time,DateTime_UTC
0,1440825,True,False,0.000111,17,1524540090274,2018-04-23 22:21:30
1,1440826,True,False,0.000111,32,1524540094235,2018-04-23 22:21:34
2,1440827,True,False,0.000111,12,1524540096537,2018-04-23 22:21:36
3,1440828,True,False,0.000111,16,1524540096537,2018-04-23 22:21:36
4,1440829,True,True,0.000111,98,1524540103111,2018-04-23 22:21:43

In [146]:
import datetime 
now = datetime.datetime.now()

In [147]:
now

datetime.datetime(2018, 4, 22, 18, 48, 45, 147533)

In [195]:
import time
y = requests.get(api_url_base+'/api/'+'v1'+'/time')
x = datetime.datetime.now()

In [198]:
y_1 = requests.get(api_url_base+'/api/'+'v1'+'/time')
x_1 = datetime.datetime.now()

In [196]:
x

datetime.datetime(2018, 4, 22, 19, 38, 30, 161743)

In [197]:

y.content.decode('utf-8')
##pd.read_json(y.content.decode('utf-8'))

'{"serverTime":1524443910109}'

In [199]:
x_1

datetime.datetime(2018, 4, 22, 19, 39, 32, 259520)

In [201]:
y_1.content.decode('utf-8')

'{"serverTime":1524443972203}'

In [213]:
time.strftime("%b-%d-%Y %H:%M:%S",time.localtime())

TypeError: can only concatenate tuple (not "int") to tuple

In [217]:
import datetime

In [247]:
print(datetime.datetime(1969,12,31,19,0,0) + datetime.timedelta(seconds = int(str(1524540090274)[:-3])))

2018-04-23 22:21:30

In [233]:
datetime.datetime(1969,12,31,19,0,0)

datetime.datetime(1969, 12, 31, 19, 0)

In [237]:
str(123413132)[:-3]

'123413'

In [15]:
class dog():
    name = 'Simba'
    DOB = 'Mar-11'
    cla = 'GS'

    def __init__(self):
        self.my_name = f'My name is {self.name}'

In [16]:
x = dog()

In [28]:
class dog():
    name = 'Simba'

my_dog = dog()

In [24]:
dog().name = 'Sindi'

In [32]:
my_dog.name

'Sindi'

In [23]:
dog().name

'Simba'

In [31]:
dog.name = 'Sindi'

In [26]:
my_dog

'Simba'

In [27]:
dog.name

'Sindi'

In [33]:
class dog_2():
    def __init__(self):
        self.name = 'simba'

In [34]:
my_dog_2 = dog_2()

In [35]:
my_dog_2.name

'simba'

In [37]:
dog_2.name = 'Sindi'

In [38]:
dog_2.name

'Sindi'

In [39]:
my_dog_2.name

'simba'

In [41]:
test_session = requests.session()

In [42]:
test_session.cookies

In [44]:
test_session.headers.update({'User-Agent': 'binance/python',
                            'Accept': 'application/json',
                            'X-MBX-APIKEY': 'hxjkL6dG5mvL84nTBjt9Mkq7ZF8zMyg8LYERWK3Nfno0XXyMIkmJeqGglgemZRkp'})

In [47]:
test_session.headers

{'User-Agent': 'binance/python', 'Accept-Encoding': 'gzip, deflate', 'Accept': 'application/json', 'Connection': 'keep-alive', 'X-MBX-APIKEY': 'hxjkL6dG5mvL84nTBjt9Mkq7ZF8zMyg8LYERWK3Nfno0XXyMIkmJeqGglgemZRkp'}

In [48]:
test_session

In [69]:
api_url_base = 'https://api.binance.com'
test = test_session.get(api_url_base+'/api/'+'v1'+'/'+'historicalTrades',params={'symbol':'CMTBTC'})

In [70]:
df = pd.read_json(test.content.decode('utf-8'))

numpy.int64

In [122]:
def myfunc(**kwarg):
    return kwarg

def myfunc_2 (**kwarg):
    return myfunc(**kwarg)

In [123]:
x = myfunc_2(symbol = 'BTCUSDT',time = 'today')

In [124]:
x

{'symbol': 'BTCUSDT', 'time': 'today'}

In [97]:
y = myfunc(symbol = 'BTCUSDT',time = 'today')

In [111]:
y.values()

dict_values(['BTCUSDT', 'today'])

In [174]:
import pytz
import dateparser

In [207]:
epoch = datetime.utcfromtimestamp(0).replace(tzinfo=pytz.utc)

In [151]:
fmt = '%Y-%m-%d %H:%M:%S %Z%z'
epoch.strftime(fmt)

'1970-01-01 00:00:00 UTC+0000'

In [216]:
k=dateparser.parse('2018-04-29 15:20:30')

In [219]:
k
y = pytz.timezone('US/Central').localize(k)

In [220]:
y.astimezone(pytz.utc)

datetime.datetime(2018, 4, 29, 20, 20, 30, tzinfo=<UTC>)

In [214]:
x = y.astimezone(pytz.utc)
x.strftime(fmt)

'2018-04-29 18:01:30 UTC+0000'

In [200]:
k.astimezone(pytz.timezone('US/Central))

datetime.datetime(2018, 4, 29, 18, 1, 30, tzinfo=<UTC>)

In [202]:
pytz.timezone('US/Central').localize(k)

datetime.datetime(2018, 4, 29, 13, 1, 30, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>)

In [329]:
from datetime import datetime
import pytz ##used for locate  time zone
import dateparser ##used for take in date input

class date_time_switch():

    _epoch = datetime.utcfromtimestamp(0).replace(tzinfo=pytz.utc) ## get the benchmark datetime
    _fmt = '%Y-%m-%d %H:%M:%S' ## this is the standard format we want to output
        
    ## Basic function    
    def _date_input(self,input_date,timezone='US/Central'): 
        return pytz.timezone(timezone).localize(dateparser.parse(input_date))
    
    ## Utility function
    ## Take string format date and output UTC format
    def date_UTC(self,input_date):
        ## date based on UTC
        return self._date_input(input_date).astimezone(pytz.utc)
    
    ## Take UTC date and convert to seconds
    def date_second(self,input_date):
        ## date on seconds
        return int((self.date_UTC(input_date) - self._epoch).total_seconds() * 1000.0)
    
    ## Translate interval date into seconds 
    def interval_second(self,input_interval):
        seconds_per_unit = {
            "m": 60,
            "h": 60 * 60,
            "d": 24 * 60 * 60,
            "w": 7 * 24 * 60 * 60,
        }
        if input_interval[-1] in seconds_per_unit.keys():
            return int(input_interval[:-1])*seconds_per_unit[input_interval[-1]]
    
    ## Translate Seconds format from binance output into human readable format
    def second_date(self,input_second):
        return self._date_input(datetime.fromtimestamp(int(str(input_second)[:-3])).strftime(self._fmt))

In [330]:
k = date_time_switch()

In [332]:
k.date_second(datetime.now().strftime(fmt))

1525041070000

In [264]:
 seconds_per_unit = {
            "m": 60,
            "h": 60 * 60,
            "d": 24 * 60 * 60,
            "w": 7 * 24 * 60 * 60,
        }

In [249]:
k.Seconds

1525034870000

In [265]:
kkk =  seconds_per_unit = {
            "m": 60,
            "h": 60 * 60,
            "d": 24 * 60 * 60,
            "w": 7 * 24 * 60 * 60,
        }

In [263]:
y[-1]

'm'

In [273]:
'30m'[-1] in kkk.keys()

True

In [275]:
int('30m'[:-1])

30

In [276]:
kkk['m']

60

604800

In [327]:
k.second_date(1525040335495)

datetime.datetime(2018, 4, 29, 17, 18, 55, tzinfo=<DstTzInfo 'US/Central' CDT-1 day, 19:00:00 DST>)

1524967048

In [345]:
y = requests.get(api_url_base+'/api/'+'v1'+'/'+'klines',params={'symbol':'CMTBTC','interval':'30m','limit':'500','startTime':'1524144600000'})

In [346]:
df = pd.read_json(y.content.decode('utf-8'))

In [347]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1524144600000,0.000015,0.000015,0.000015,0.000015,355876,1524146399999,5.358770,237,216418,3.262079,0
1,1524146400000,0.000015,0.000015,0.000015,0.000015,145019,1524148199999,2.189291,131,111413,1.682223,0
2,1524148200000,0.000015,0.000015,0.000015,0.000015,641795,1524149999999,9.747603,322,499708,7.595295,0
3,1524150000000,0.000015,0.000015,0.000015,0.000015,386059,1524151799999,5.873750,333,228804,3.483970,0
4,1524151800000,0.000015,0.000015,0.000015,0.000015,160452,1524153599999,2.451541,109,113557,1.736596,0
5,1524153600000,0.000015,0.000015,0.000015,0.000015,359600,1524155399999,5.507547,155,302959,4.640723,0
6,1524155400000,0.000015,0.000016,0.000015,0.000016,651668,1524157199999,10.077956,470,560813,8.672443,0
7,1524157200000,0.000016,0.000016,0.000016,0.000016,752021,1524158999999,11.878222,704,512634,8.104228,0
8,1524159000000,0.000016,0.000016,0.000016,0.000016,358862,1524160799999,5.699494,277,265077,4.212349,0
9,1524160800000,0.000016,0.000016,0.000016,0.000016,406850,1524162599999,6.442234,228,270495,4.286093,0
10,1524162600000,0.000016,0.000016,0.000016,0.000016,369033,1524164399999,5.800472,131,99815,1.574499,0
11,1524164400000,0.000016,0.000016,0.000016,0.000016,56800,1524166199999,0.893841,70,26164,0.412201,0
12,1524166200000,0.000016,0.000016,0.000016,0.000016,82841,1524167999999,1.308425,104,73987,1.168902,0
13,1524168000000,0.000016,0.000016,0.000016,0.000016,169271,1524169799999,2.676024,91,134890,2.133029,0
14,1524169800000,0.000016,0.000016,0.000016,0.000016,84594,1524171599999,1.332576,87,61010,0.961476,0
15,1524171600000,0.000016,0.000016,0.000016,0.000016,113172,1524173399999,1.782732,94,65691,1.036217,0
16,1524173400000,0.000016,0.000016,0.000016,0.000016,84166,1524175199999,1.330292,75,70542,1.115075,0
17,1524175200000,0.000016,0.000016,0.000016,0.000016,90874,1524176999999,1.430349,111,11695,0.184732,0
18,1524177000000,0.000016,0.000016,0.000016,0.000016,125610,1524178799999,1.968707,197,61796,0.969375,0
19,1524178800000,0.000016,0.000016,0.000016,0.000016,322273,1524180599999,5.054104,128,218693,3.430207,0
20,1524180600000,0.000016,0.000016,0.000016,0.000016,1000423,1524182399999,15.956855,760,533027,8.508221,0
21,1524182400000,0.000016,0.000016,0.000016,0.000016,721839,1524184199999,11.539870,430,181818,2.915158,0
22,1524184200000,0.000016,0.000017,0.000016,0.000017,12378467,1524185999999,207.523993,3245,9676653,162.908960,0
23,1524186000000,0.000017,0.000017,0.000016,0.000016,2142682,1524187799999,34.756032,1253,768106,12.461871,0
24,1524187800000,0.000016,0.000016,0.000016,0.000016,436559,1524189599999,6.972368,310,188026,3.004597,0
25,1524189600000,0.000016,0.000016,0.000016,0.000016,430126,1524191399999,6.899787,283,144359,2.318997,0
26,1524191400000,0.000016,0.000016,0.000016,0.000016,230681,1524193199999,3.694524,197,124517,1.996401,0
27,1524193200000,0.000016,0.000016,0.000016,0.000016,217700,1524194999999,3.483911,189,169742,2.716888,0
28,1524195000000,0.000016,0.000016,0.000016,0.000016,216477,1524196799999,3.466922,163,140185,2.247452,0
29,1524196800000,0.000016,0.000016,0.000016,0.000016,395874,1524198599999,6.357734,233,184604,2.968768,0
...,...,...,...,...,...,...,...,...,...,...,...,...
470,1524990600000,0.000025,0.000025,0.000023,0.000023,4368765,1524992399999,105.347007,2802,2061291,49.759234,0
471,1524992400000,0.000023,0.000023,0.000022,0.000023,3862658,1524994199999,87.620125,1842,2664887,60.533114,0
472,1524994200000,0.000023,0.000023,0.000023,0.000023,943297,1524995999999,21.573866,488,654236,14.975461,0
473,1524996000000,0.000023,0.000023,0.000023,0.000023,918476,1524997799999,21.025166,362,720886,16.507561,0
474,1524997800000,0.000023,0.000023,0.000022,0.000022,1064932,1524999599999,23.838954,1029,647441,14.479630,0
475,1524999600000,0.000022,0.000023,0.000022,0.000023,471271,1525001399999,10.657468,315,306149,6.921388,0
476,1525001400000,0.000023,0.000023,0.000023,0.000023,718502,1525003199999,16.470799,203,670150,15.363740,0
477,1525003200000,0.000023,0.000024,0.000023,0.000024,1476587,1525004999999,34.680143,1373,870546,20.337583,0
478,1525005000000,0.000024,0.000024,0.000023,0.000023,558675,1525006799999,13.160119,634,303575,7.147059,0
479,1525006800000,0.000023,0.000024,0.000023,0.000023,231465,1525008599999,5.424897,182,182798,4.284730,0
480,1525008600000,0.000023,0.000024,0.000023,0.000024,443855,1525010399999,10.381823,464,252162,5.898720,0
481,1525010400000,0.000024,0.000024,0.000023,0.000023,420027,1525012199999,9.841169,369,308901,7.243428,0
482,1525012200000,0.000023,0.000024,0.000023,0.000024,617682,1525013999999,14.504088,435,292773,6.895781,0
483,1525014000000,0.000024,0.000025,0.000024,0.000025,880867,1525015799999,21.321573,850,657422,15.883841,0
484,1525015800000,0.000025,0.000025,0.000024,0.000024,1294579,1525017599999,31.970412,1522,786416,19.438967,0
485,1525017600000,0.000024,0.000025,0.000024,0.000025,1171542,1525019399999,29.215764,894,615668,15.409727,0
486,1525019400000,0.000025,0.000025,0.000025,0.000025,922485,1525021199999,23.075634,804,607422,15.202390,0
487,1525021200000,0.000025,0.000025,0.000024,0.000025,898105,1525022999999,22.107023,1058,425819,10.483638,0
488,1525023000000,0.000025,0.000025,0.000024,0.000025,501698,1525024799999,12.367230,871,268514,6.632672,0
489,1525024800000,0.000025,0.000025,0.000025,0.000025,375135,1525026599999,9.417311,594,235360,5.908667,0
490,1525026600000,0.000025,0.000025,0.000025,0.000025,437934,1525028399999,11.051006,501,293095,7.402949,0
491,1525028400000,0.000025,0.000025,0.000025,0.000025,247632,1525030199999,6.250625,342,184558,4.660886,0
492,1525030200000,0.000025,0.000025,0.000025,0.000025,220697,1525031999999,5.566749,311,164651,4.156882,0
493,1525032000000,0.000025,0.000025,0.000025,0.000025,192467,1525033799999,4.842744,207,101221,2.549482,0
494,1525033800000,0.000025,0.000025,0.000025,0.000025,113830,1525035599999,2.881775,142,82144,2.080913,0
495,1525035600000,0.000025,0.000026,0.000025,0.000026,240150,1525037399999,6.101608,347,208362,5.295735,0
496,1525037400000,0.000026,0.000026,0.000025,0.000025,338199,1525039199999,8.624852,492,139578,3.560585,0
497,1525039200000,0.000025,0.000026,0.000025,0.000025,167722,1525040999999,4.269649,288,114704,2.922953,0
498,1525041000000,0.000025,0.000026,0.000025,0.000026,168922,1525042799999,4.303225,229,99603,2.539854,0
499,1525042800000,0.000026,0.000026,0.000025,0.000026,120499,1525044599999,3.075433,197,80596,2.057362,0